#header-text {
  color: #222222 !important;
  background-color: inherit;
}

body {
  background-color: #FFFFFF !important;
  color: inherit;
}

body {
  color: #222222 !important;
  background-color: inherit;
}
